/*Let's make it responsive first before anything else*/
@@charset "UTF-8";
@-ms-viewport{
  width: device-width;
}
/*WEBFONTS LOAD HERE*/
/* Typoslab serif */
@font-face {
    font-family: 'typo';
    src: url('../fonts/TypoSlabserif-Light-webfont.eot');
    src: url('../fonts/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TypoSlabserif-Light-webfont.woff') format('woff'),
         url('../fonts/TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('../fonts/TypoSlabserif-Light-webfont.svg#typoslabserif-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Roboto thin webfont*/
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
.typo{
  font-family: typo;
}
.thin{
  font-family: robotothin;
}
html, body, .mysection{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/*Landing*/
#landing {
  background: url('../assets/bg_landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  position: relative;
}
/*Overlay*/
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
}
/*Menu*/
.hamburger{
    background: none;
  position: absolute;
  top: 8%;
  right: 5%;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;    
}

.cross {
  background: none;
  position: absolute;
  top: 8%;
  right: 5%;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 68px;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
}
#menu{
  width: 100%;
  height: 100%;
  color: white solid;
  position: absolute;
    background-color: rgba(240,179,35, 0.7);
  z-index: 8;
}

#menu ul{
  list-style-type: none;
  margin: 0 auto;
    padding-top: 150px;
}
#menu li{
    width: 100%;
  display: block;
  color: white !important;
  text-align: center;
    padding: 30px 0 30px 0;
}
#menu li:hover{
    background:#1d1f20;
    transition: ease 0.6s;
}
#menu a{
    color: #375cd4;
    font-family: sans-serif;
    font-weight: 800;
}
.logo{
    position: absolute;
    top: 8%;
    left: 5%;
}
#head{
  font-size: 2em;
  color: #fff;
    padding-top: 150px;
    text-align: center;
}
#head h1{
    margin: 0 auto;
    color: #ffffff;
}
.todoing{
    position: absolute;
    bottom: 0;
    right: 50%;
    padding-bottom: 20px;
}
.slider{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}
/*WHAT WE DO SECTION*/
/*Jquery slider code
*THOU SHALT NOT TOUCH!!*/
#jssor_1{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden !important;
  visibility: hidden;
}
.jsize{
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  overflow: hidden;
  font-weight: 500;
}
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../assets/arrow.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }

.slidertopic{
  position: absolute;
  top: 22%;
  left: 10%;
  width: 480px;
  height: 120px;
  font-size: 60px;
  color: #ffffff;
  line-height: 60px;
}
.slidertext{
  position: absolute;
  top: 44%;
  left: 10%;
  width: 480px;
  height: 120px;
  font-size: 40px;
  color: #ffffff;
  line-height: 38px;
}
.topeople{
  position: absolute;
  bottom: 5%;
  left: 50%;
}
/*END OF SLIDER CODE*/
#doing img{
  max-width: 100%;
  height: auto;
}

/*OUR PEOPLE SECTION*/
#people{
  overflow-x: hidden;
}
#people img{
    max-width: 100%;
    height: auto;
}
#people a{
  position: relative;
}
#people a span{
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.3);
}
.toword{
  bottom: 5%;
  left: 50%;
}

/*WORD FROM CHAIR*/
